REACT_APP_FIREBASE_API_KEY=XXXXX
REACT_APP_FIREBASE_AUTH_DOMAIN=XXXXXXX
REACT_APP_FIREBASE_DATABASE_URL=XXXXXXX
REACT_APP_FIREBASE_PROJECT_ID=XXXXXX
REACT_APP_FIREBASE_STORAGE_BUCKET=XXXXXX
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=XXXXX
REACT_APP_FIREBASE_APP_ID=XXXXXX
REACT_APP_FIREBASE_MEASUREMENT_ID=XXXXXXX
FIRESTORE_EMULATOR_HOST=localhost:8080
GOOGLE_ACCOUNT_CREDENTIALS=XXXXXXXXXXXX